

.title-currency-middle {
  text-align: left;
  font-size: 14px;
  font-weight: 900;
  letter-spacing: 0px;
  color: #53a9ff;
  opacity: 1;
}

.title-money-big {
  text-align: left;
  font-size: 22px;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}

.title-money-middle {
  font-size: 14px;
  width: 71px;
  height: 17px;
  letter-spacing: 0px;
  color: #53a9ff;
  opacity: 1;
}

.negative {
  color: #FF5353;
  font-size: 33px;
 }
 
