.add-tag {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 106px;
  height: 24px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #53a9ff8f;
  border-radius: 7px;
  opacity: 1;
}

.add-tag .title-small {
  color: #53a9ff;
}

.add-tag .icon {
  width: 12px;
  height: 12px;
  margin-left: 0.4rem;
}

.add-tag .icon:hover {
  animation-name: zoom;
  animation-duration: 200ms;
}

@keyframes zoom {
  from {
    width: 12px;
    height: 12px;
  }
  to {
    width: 30px;
    height: 30px;
  }
}
