.currency-sign-big {
  text-align: left;
  font-size: 22px;
  font-weight: 900;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}

.currency-sign-middle {
  text-align: left;
  font-size: 14px;
  font-weight: 900;
  letter-spacing: 0px;
  color: #53a9ff;
  opacity: 1;
}

.total-money {
  text-align: left;
  font-size: 22px;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}

.half-money {
  font-size: 14px;
  width: 71px;
  height: 17px;
  letter-spacing: 0px;
  color: #53a9ff;
  opacity: 1;
}
