.title-big {
  font-size: 20px;
  letter-spacing: 0px;
  opacity: 1;
}

.title-middle {
  line-height: 25px;
  font-size: 16px;
  letter-spacing: 0px;
  color: #707070;
  opacity: 1;
}

.bold {
  font-weight: bold;
}

.sub-title-middle {
  line-height: 17px;
  font-size: 14px;
  letter-spacing: 0px;
  color: #707070;
  opacity: 1;
}

.title-small {
  text-align: left;
  font-size: 14px;
  letter-spacing: 0px;
  color: #707070;
  opacity: 1;
}

.text-currency {
  line-height: 17px;
  font-size: 14px;
  font-weight: 900;
  letter-spacing: 0px;
  opacity: 1;
}

.text-amount {
  line-height: 17px;
  font-size: 14px;
  letter-spacing: 0px;
  opacity: 1;
}

.legible {
  text-rendering: optimizeSpeed;
  text-rendering: optimizeLegibility;
  text-rendering: geometricPrecision;
}
