.title-big{
  color: #53a9ff;
  margin-top: 19px;
}

.title-middle{
  margin-bottom: 0.4rem;
}

.title-currency-middle{
  margin-bottom: 0.4rem;
}

.join-progress{
  margin-top: 34px;
}

.default-button{
  margin-top: 55px;
  margin-bottom: 31px;
}
