.wallet-box {
  background-color: #53a9ff38;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  width: 95%;
}

.margin-right {
  margin-right: 1rem;
}

.join-input {
  margin-top: 19px;
  margin-bottom: 5px;
}

.width-input-data {
  width: 60%;
}

.field-value {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  width: 90%;
  background: #eeeeee 0% 0% no-repeat padding-box;
  border-radius: 9px;
  opacity: 1;
  height: 36px;
}

.props-title {
  color: #53a9ff;
  font-weight: 400;
}
