.tag-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 49px;
  height: 24px;
  background: #53a9ff 0% 0% no-repeat padding-box;
  border: 1px solid #53a9ff8f;
  border-radius: 7px;
  opacity: 1;
}

.tag-content .title-small {
  color: #f5faff;
}

.tag-content .close {
  font-size: 10px;
  color: #ffffff;
}
