.wrapper-total-money{
  width: 57%;
}

.upper-box{
  background: #EEEEEE 0% 0% no-repeat padding-box;
}

.flex-box{
  width: 100%;
  height: 65%;
  justify-content: center;
  background-color: #ffffff;
}