.scroll-box{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 65%;
  overflow-y: scroll;
  position: relative;
  top: -20px;
}

::-webkit-scrollbar {
  width: 0px;
}

@media only screen and (max-width: 375px) {
  .scroll-box {
    top: -50px;
  }
}
