.wallet-box {
  background-color: #53a9ff38;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  width: 95%;
}

.icon-margin-right {
  margin-right: 1rem;
}

.wrapper-value {
  width: 80%;
  display: flex;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.field-value {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  background: #53a9ff61 0% 0% no-repeat padding-box;
  border-radius: 9px;
  opacity: 1;
  height: 36px;
  margin-left: 5rem;
}

.wrapper-date-parcel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 85%;
  height: 20%;
  margin-top: 33px;
}

.default-input {
  width: 192px;
  height: 40px;
  padding: 1rem;
  letter-spacing: 4.54px;
  color: #707070;
  opacity: 0.79;
}

.width-input {
  width: 90px;
  height: 40px;
}

.title-big {
  color: #53a9ff;
}

.confirm {
  width: 20px;
  height: 20px;
  border: 2px solid #707070;
  border-radius: 9px;
  opacity: 1;
  cursor: pointer;
  margin-right: 0.5rem;
}
.confirm-ok {
}

.wrapper-parcel-text {
  display: flex;
  flex-direction: column;
}

.text-parcel {
  text-align: left;
  font-size: 10px;
  letter-spacing: 0px;
  color: #707070;
  opacity: 1;
}

.wrapper-parcel {
  display: flex;
  align-items: center;
  justify-content: center;
}

.insert-tags {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 456px;
  left: 15px;
  width: 95%;
  height: 30px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #53a9ff8f;
  border-radius: 9px;
  opacity: 1;
  padding: 0.2rem;
}

.tag-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 49px;
  height: 24px;
  background: #53a9ff 0% 0% no-repeat padding-box;
  border: 1px solid #53a9ff8f;
  border-radius: 7px;
  opacity: 1;
  padding: 0.2rem;
}

.close-tag {
  font-size: 14px;
  letter-spacing: 0px;
  color: #f5faff;
  opacity: 1;
  cursor: pointer;
}

.close-tag:hover {
  transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
}

.name-tag {
  font-size: 14px;
  letter-spacing: 0px;
  color: #f5faff;
  opacity: 1;
}

.wrapper-tags {
  width: 70%;
}

.add-tags {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 30%;
  height: 24px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #53a9ff8f;
  border-radius: 7px;
  opacity: 1;
  padding: 0.5rem;
}

.text-add-tags {
  text-align: left;
  font-size: 14px;
  letter-spacing: 0px;
  color: #53a9ff;
  opacity: 1;
}

.text-area {
  margin-top: 35px;
  margin-bottom: 37px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #53a9ff91;
  border-radius: 9px;
  opacity: 1;
  width: 95%;
  height: 125px;
  padding: 0.5rem;
  outline: none;
  text-align: left;
  font-size: 14px;
  letter-spacing: 0px;
  color: #707070;
  opacity: 0.62;
}
