.input-default {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #53a9ff;
  border-radius: 31px;
  opacity: 1;
  padding-left: 1rem;
  color: #707070;
}

.width-big {
  top: 240px;
  left: 15px;
  width: 345px;
  height: 35px;
}

::-webkit-input-placeholder {
  color: #53a9ff;
}
