.default-input {
  height: 35px;
  padding-left: 1rem;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #53a9ff;
  border-radius: 31px;
  opacity: 1;
  font-size: 16px;
  letter-spacing: 0px;
  color: #686464;
  width: 90%;
}

::-webkit-input-placeholder {
  color: #53a9ff;
}
