.default-circle {
  background: transparent linear-gradient(180deg, #53a9ff 0%, #328de8 100%) 0%
    0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  opacity: 1;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.red {
  background: transparent linear-gradient(137deg, #ff5353 0%, #de5959 100%) 0%
    0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  opacity: 1;
}

.purple {
  background: transparent linear-gradient(141deg, #8053ff 0%, #6f49db 100%) 0%
    0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  opacity: 1;
}

.home-circle {
  background: #53a9ff 0% 0% no-repeat padding-box;
  opacity: 1;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  top: -20px;
}
