.join-parcel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.join-parcel .title-big {
  color: #53a9ff;
}

.join-parcel .input-default {
  text-align: center;
  width: 60%;
  height: 40px;
  letter-spacing: 1.54px;
  opacity: 0.79;
  font-size: 14px;
  padding: 1rem;
}

.join-parcel ::-webkit-input-placeholder {
  color: #707070;
}

.join-parcel .wrapper-parcel {
  width: 61%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrapper-parcel .join-text {
  width: 20%;
}

.wrapper-parcel .title-small {
  font-size: 11px;
}
